In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

In [3]:
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [4]:
# Calculate the Number of Unique Players
total_players = purchase_data.loc[:, ["Gender", "SN", "Age"]]
total_players = total_players.drop_duplicates()
number_of_players = total_players.count()[0]

#Display the total number of players
pd.DataFrame({"Total Players": [number_of_players]})

   Total Players
0            576

In [5]:
#Run basic calculations to obtain number of unique items, average price, etc.
#Number of Unique Items
unique_count = len(purchase_data["Item ID"].unique())

#Average Purchase Price
average_cost = purchase_data["Price"].mean()

#Number of Purchases
purchase_total = purchase_data["Purchase ID"].count()

#Total Revenue
total_revenue = purchase_data["Price"].sum()

# Create a summary dataframe to hold results
summary_df = pd.DataFrame({"Number of Unique Items": [unique_count],
                              "Average Price": [average_cost],
                              "Number of Purchases": [purchase_total],
                              "Total Revenue": [total_revenue]})

summary_df["Average Price"]=summary_df["Average Price"].map("${:,.2f}".format)
summary_df["Total Revenue"]=summary_df["Total Revenue"].map("${:,.2f}".format)

# Display the summary_table
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [6]:
#Percent and Count of Gender
#Count values in gender column
gender_total = total_players["Gender"].value_counts()

#Calculate percent
percent_gender = gender_total / number_of_players

#Create a summary data frame to hold the results
gender_summary = pd.DataFrame({"Total Count": gender_total, "Percentage of Players": percent_gender})

gender_summary["Percentage of Players"] = gender_summary["Percentage of Players"].map("{:,.2%}".format)
gender_summary

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [7]:
#Finish (averages not correct?)

#Purchasing Analysis (Gender)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#Number of Purchases
purchase_count = purchase_data.groupby(["Gender"]).count()["Purchase ID"]

#Average Purchase Price
purchase_price_avg = purchase_data.groupby(["Gender"]).mean()["Price"]
                                                            
#Total Purchase Value   
total_value = purchase_data.groupby(["Gender"]).sum()["Price"]                                                           

#Average purchase Total Per Person
avg_person_purchase = purchase_data.groupby(["Gender"]).mean()["Price"]

# Create a summary dataframe to hold results
purchasing_summary = pd.DataFrame({"Purchase Count": [purchase_count],
                              "Average Purchase Price": [purchase_price_avg],
                              "Average Total Purchase per Person": [avg_person_purchase],
                              "Total Purchase Value": [total_value]})

purchasing_summary["Average Purchase Price"]=purchasing_summary["Average Purchase Price"].map("${:,.2f}".format)
purchasing_summary["Average Total Purchase per Person"]=purchasing_summary["Average Total Purchase per Person"].map("${:,.2f}".format)
purchasing_summary["Total Purchase Value"]=purchasing_summary["Total Purchase Value"].map("${:,.2f}".format)

# Display the summary_table
purchasing_summary

TypeError: unsupported format string passed to Series.__format__

In [22]:
#Finish(why does summary look like it does>)

#Age Demongraphics
#Create a bin for ages
bins = [0, 9, 14, 19, 24, 29, 34, 39, 112]

#Create the names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_bins = total_players.loc[:, ["SN", "Age"]]

# Slice the data and place it into bins
age_bins["Ranges"] = pd.cut(age_bins["Age"], bins, labels=group_names, include_lowest=True)
age_bins

#Total Count
age_total = age_bins["Ranges"].value_counts()

# Get Percentage of Players
age_percentage = (age_total/number_of_players*100).round(2)

# Create a summary dataframe to hold results
age_summary = pd.DataFrame({"Total Count": [age_total],
                              "Percentage of Players": [age_percentage]})

#Display Age Demographics Table
age_summary

,Total Count,Percentage of Players
0,20-24 258 15-19 107 25-29 77 30-34 ...,20-24 44.79 15-19 18.58 25-29 13.37 3...

In [ ]:
#Finish (where to pull data from)

#Purchasing Analysis (Age)
#Bin the purchase_data data frame by age
bins = [0, 9, 14, 19, 24, 29, 34, 39, 112]

#Create the names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#Number of Purchases
purchase_count_age = purchase_data.groupby(["Gender"]).count()["Purchase ID"]

#Average Purchase Price
purchase_price_avg_age = purchase_data.groupby(["Gender"]).mean()["Price"]
                                                            
#Total Purchase Value   
total_value_age = purchase_data.groupby(["Gender"]).sum()["Price"]                                                           

#Average Total Purchase Per Person
avg_person_purchase_age = purchase_data.groupby(["Gender"]).mean()["Price"]

# Create a summary dataframe to hold results
purchasing_age_summary = pd.DataFrame({"Purchase Count": [purchase_count_age],
                              "Average Purchase Price": [purchase_price_avg_age],
                              "Average Total Purchase per Person": [avg_person_purchase_age],
                              "Total Purchase Value": [total_value_age]})

purchasing_age_summary["Average Purchase Price"]=purchasing_age_summary["Average Purchase Price"].map("${:,.2f}".format)
purchasing_age_summary["Average Total Purchase per Person"]=purchasing_age_summary["Average Total Purchase per Person"].map("${:,.2f}".format)
purchasing_age_summary["Total Purchase Value"]=purchasing_age_summary["Total Purchase Value"].map("${:,.2f}".format)

# Display the summary_table
purchasing_age_summary

In [ ]:
#Top Spenders
#Run basic calculations to obtain the results in the table below


#Create a summary data frame to hold the results


#Sort the total purchase value column in descending order


#Optional: give the displayed data cleaner formatting


#Display a preview of the summary data frame

In [ ]:
#Most Popular Items
#Retrieve the Item ID, Item Name, and Item Price columns
popular_items = purchase_data.loc[:, ["Item ID", "Item Name", "Item Price"]]


# First convert "average_donation", "goal", and "pledged" columns to float
# Then Format to go to two decimal places, include a dollar sign, and use comma notation
#hosted_in_us_df["average_donation"] = hosted_in_us_df["average_donation"].astype(float).map(
    #"${:,.2f}".format)
#hosted_in_us_df["goal"] = hosted_in_us_df["goal"].astype(float).map("${:,.2f}".format)
#hosted_in_us_df["pledged"] = hosted_in_us_df["pledged"].astype(float).map("${:,.2f}".format)


#Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value
#popular_groups = picked_by_staff_df.groupby("Item ID", "Item Name")

#Purchase Count

#Average Item Price

#Total Purchase Value 

#Create a summary data frame to hold the results


#Sort the purchase count column in descending order


#Optional: give the displayed data cleaner formatting


#Display a preview of the summary data frame

In [ ]:
#Most Profitable Items
#Sort the above table by total purchase value in descending order


#Optional: give the displayed data cleaner formatting


#Display a preview of the data frame

In [ ]:
#Clean up Employer category. Replace 'Self Employed' and 'Self' with 'Self-Employed'
summary_df['Employer'] = summary_df['Employer'].replace(
    {'Self Employed': 'Self-Employed', 'Self': 'Self-Employed'})

#Verify clean-up.
summary_f['Employer'].value_counts()

#Display the summary data frame
summary_df